.error-send-post {
  animation: fadeInError 0.3s ease-out;
  color: red;
  margin-left: 8px;
}

@keyframes fadeInError {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
